src/main/mule/mule_jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="21e95206-d70a-4286-9971-c3fa4865a982" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="e404b37b-44dc-4e52-b133-8ca8786897da" file="config.yaml" />
	<flow name="mule_jenkinsFlow" doc:id="a364f7f3-b1a8-48c2-b28d-90410f65b4bf" >
		<http:listener doc:name="Listener" doc:id="6b43e643-b814-4148-b6e1-e21140b97f33" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello mule"]' doc:name="Set Payload" doc:id="b3f3ff1d-36ec-44b2-b960-2448a67a393c" />
		<logger level="INFO" doc:name="Logger" doc:id="2db6e2b8-6700-4412-a546-bb004752ba20" message="#[payload]"/>
	</flow>
</mule>
